
  
  h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(190, 1, 165);
    
    margin-left: auto;
    margin-right: auto;
    
  }
  h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(190, 1, 165);
    margin-left: auto;
    margin-right: auto;
    animation: openclose 5s ease-in-out infinite;
  } 
  h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    animation: openclose 5s ease-in-out infinite;
  }
/* The side navigation menu */
.mysidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #d41414; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ff00dd;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #e9c7c7;
}

/* Position and style the close button (top right corner) */
.mysidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #ff00dd;
}
.mysidenav .openbtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #ff00dd;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
body {
  background-color: rgb(0, 0, 0);
} 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  object-fit: contain;
}

.intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: #f9f9f9;
  font-size: 150%;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  object-fit: contain;
  text-align: center;
}
.logo_
{
width: 50px;
height:50px
}



img {
  display: inline;
  margin: auto;
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  
}
img.rounded {
  object-fit:cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
img.2rounded {
  object-fit:cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10px;
  height:10px;
  object-fit: contain;
  text-align: center;
}