body {
    background-color: rgb(5, 0, 2);
  }
  
  h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(222, 2, 192);
    text-align: left;
    
  }
  h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 0, 195);
    text-align: left;
    animation: openclose 5s ease-in-out infinite;
  }
  
  
  h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    animation: openclose 5s ease-in-out infinite;
  }


  